name: Deploy App Service

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Zip package
        run: |
          zip -r app.zip email_system main.py pyproject.toml requirements.txt README.md

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: emailcat-1fgnd5-app
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
          package: app.zip
